langchain
langchain-community
langchain-text-splitters
langchain-openai
gigachat
openai
pydantic>=2
sentence-transformers
fpdf2
pypdf
qdrant-client
python-dotenv
fastapi
python-multipart
uvicorn[standard]
networkx>=3.4
neo4j
python-docx
python-pptx
requests
beautifulsoup4
pymupdf
pytesseract
langdetect
