langchain
langchain-community
langchain-text-splitters
langchain-openai
gigachat
pydantic>=2
sentence-transformers
pypdf
qdrant-client
python-dotenv
fastapi
uvicorn[standard]
networkx
python-docx
python-pptx
requests
pymupdf
pytesseract
langdetect
